$seriffont: "Crimson Text", serif;
$sansfont: "Open Sans", sans-serif;

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    background: grey;
    color: #777;
    font-family: $seriffont;
}

body {
    overflow: hidden;
    line-height: 1.6;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1000px;
    perspective: 1200px;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    visibility: hidden;
    overflow: hidden;
    background: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    &.active {
        visibility: visible;
        z-index: 5;
    }
}

h1,h2,h3,
h4,h5,h6 {
    font-weight: 400;
    margin: .6rem 0;
    line-height: 1.4;
}

h1,
h2 {
    font-weight: 300;
    font-family: $sansfont;
}

h1 {
    font-size: 4.2rem;
    font-size: 6vw;
}

h2 {
    font-size: 2.8rem;
}

h2 + h3 {
    margin-top: -0.5em;
}

h3 {
    font-size: 1.5rem;   
}

h4 {
    font-size: 1.4rem;   
}

h5 {
    font-size: 1.2rem;   
}



a {
    -webkit-font-smoothing: antialiased;
    position: relative;
    -webkit-animation: rainbow-text 40s linear infinite;
    animation: rainbow-text 40s linear infinite;
    
    &:hover,
    &:focus {
        text-decoration: none;
    }
    
    &:active {
        top: 1px;
    }
}

p,
figcaption {
    font-size: 1.2rem;
}

b,
strong {
    font-weight: 400;
    color: #000;
}

dt {
    font-size: 1.1rem;
    color: #000;
}

dd {
    margin: 0.3em 0 1.2em;   
}

.back-link {
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    background: #FFF;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #CCC;
    border-radius: 50%;
    transition: border-color 0.2s;
    
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

// Tag list
.tags {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .9em;
    
    li {
        display: inline-block;
        margin: 0 .1em 0.3em 0;
        padding: 0.1em 0.5em .2em;
        background: #F00;
        color: #FFF;
        border-radius: 2px;
    }
}

.title-hover {
    position: relative;
    
    &:after {
        content: attr(data-title);
        background: RGBA(0, 0, 0, 0.8);
        color: #FFF;
        padding: 0.3em 1em 0.5em;
        visibility: hidden;
        opacity: 0;
        font-size: 1rem;
        text-align: center;
        line-height: 1.6;
        white-space: nowrap;
        
        position: absolute;
        top: 110%;
        left: 0;
        
        -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
        transition: opacity 0.2s 0s, visibility 0s 0.2s;
    }
    
    &.title-hover-right:after {
        right: 0;
        left: inherit;
    }
    
    &:hover,
    &:focus {
        &:after {
            opacity: 1;
            visibility: visible;
            -webkit-transition-delay: 0s,0s;
            transition-delay: 0s,0s;
        }
    }
}

.colored-title-hover:after {
    -webkit-animation: rainbow-bg 40s linear infinite;
    animation: rainbow-bg 40s linear infinite;
}

.scale-btn {
    
    img,
    svg {
       -webkit-transition: -webkit-transform 0.15s cubic-bezier(0,0.8,0.4,1);
        transition: transform 0.15s cubic-bezier(0,0.8,0.4,1);
    }
    
    &:hover,
    &:focus {
        img,
        svg {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }
    }
    
    &:active {
        img,
        svg {
            -webkit-transition: none;
            transition: none; 
            
            -webkit-transform: scale(0.95);
            transform: scale(0.95);
        }
    }
}

object[data-swfid] {
    display: none;
}


/* Headers, footers and container styling */

#page-header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: RGBA(248,248,248,0.9);
    padding: 10px 0;
    
    font-size: 110%;
    z-index: 100;
    
    a {
        float: right;
    }
    
    svg,
    img {
        display: block;
        margin: 0 0.2em;
    }
    
    > nav {
        float: left;
        
        a {
            padding: 0 .8em;
            margin-left: .4em;
            position: relative;
            
            /*
            // No need for this yet, as there is no nav
            &:after {
                content: '';
                left: 50%;
                top: 100%;
                height: 3px;
                width: 0;
                position: absolute;
                background-color: #e44444;
                
                transition: left 0.15s cubic-bezier(0,.8,.4,1), width 0.15s cubic-bezier(0,.8,.4,1);
            }
            
            &:hover:after,
            &:focus:after {
                width: 20%;
                left: 40%;
            }
            &:active {
                top: 0;
                
                &:after {
                    width: 90%;
                    left: 5%;
                }
            }
            
            &.active:after {
                width: 100%;
                left: 0;
            }
            */
        }
    }
    
    > p {
        float: right;
        margin: 0 0.5rem 0 0;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    a,
    p {
        color: #878787;
        text-decoration: none;
    }
}
