@media (min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    #portfolio-overview a {
        h3 {
            font-size: 3.6vw;   
        }
        p {
            font-size: 1.8vw;   
        }
    }
}

@media (max-width: 1050px){
    .tree {
        left: -2em;
        top: 100px;
    }
}

@media (max-width: 700px) {
    .tree {
        opacity: 0;
    }
    
    #portfolio-overview {
        li {
            width: 100%;
            margin-bottom: .7em;
        }
    }
    
    main {
        width: 95%;    
    }
    
    #intro {
        padding: 5.5em 0 1em;
        
        h1 img {
            display: block;
            position: static;
            width: 65vw;
            left: 0;
            margin: 0 auto;  
        }
    }
}

@media (max-width: 500px) {
    
    h1 {
        font-size: 2.6em;
    }
    h2 {
        font-size: 2em;
    }
    
    /* Header */
    #page-header {
        p span {
            display: none;   
        }
        
        a {
            height: 50px;
            line-height: 46px;
        }
        
        > nav a {
            padding: 0 0.6em;    
        }
        
        > nav li {
            display: none;
            
            &:first-child {
                display: inline-block;
            }
        }
        
        > nav img,
        svg {
            width: 36px;
            height: auto;
        }
    }
}