#intro {
    padding: 8em 0 1em;
    
    h1 {
        position: relative;
        display: inline-block;
        
        img {
            position: absolute;
            bottom: 50%;
            left: 88%;
            width: 22vw;
        }
    }
    
    p {
        width: 65%;
        margin: 0 auto;
    }
}

.tree {
    position: absolute;
    z-index: -1;
    
    top: 160px;
    left: 30px;
    bottom: 0px;
    
    transition: opacity 1s linear, left 1s cubic-bezier(0,.7,.4,1), top 1s cubic-bezier(0,.7,.4,1);
}
.tree-top {
    background-color: #e44444;
    width: 160px;
    height: 146px;
}
.tree-middle {
    position: absolute;
    height: 100%;
    width: 16px;
    
    background-color: #e44444;
    left: 75px;
    top: 146px;
    
    .overlay {
        background: url(/img/tree-middle.svg) repeat-y;
        width: 16px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

@-webkit-keyframes arrow-throb {
    0% {
        -webkit-transform: translateY(0);   
    }
    15% {
        -webkit-transform: translateY(20px);
        border-color: #999 transparent;
    }
    45% {
        -webkit-transform: translateY(0);
        border-color: #ddd transparent;
    }
}

.pointer-arrows {
    margin-bottom: 3em;
    
    span {
        display: block;
        width: 0;
        height: 0;
        margin: 1.2em auto;

        border-style: solid;
        border-width: 15px 15px 0;
        border-color: #ddd transparent;

        -webkit-animation: arrow-throb 3s cubic-bezier(.7,0,.5,1) 0s infinite;
        
        &:nth-child(2){
            border-width: 11px 11px 0;
            -webkit-animation-delay: .15s;
        }
        
        &:nth-child(3){
            border-width: 7px 7px 0;
            -webkit-animation-delay: .3s;
        }
    }
}

#portfolio-overview {
    list-style: none;
    padding: 0;
    
    li {
        float: left;
        width: 50%;
        padding: 0 .5%;
        
        margin: 0 0 .4em;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}


#portfolio {
    header {
        padding-bottom: 1.5em;
        
        h2,
        h3,
        time {
            display: inline-block;   
        }
    }
}

// Hide js-modified html
.js {
    #intro-greeting,
    #portfolio > section {
        display: none;   
    }
}

.figure-container {
    
    figure {
        margin: 0;
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    figcaption {
        
    }
}
