#intro {
    padding: 10em 0 5em;
    
    h1 {
        position: relative;
        display: inline-block;
        
        img {
            position: absolute;
            bottom: 50%;
            left: 88%;
            width: 22vw;
        }
    }
}

.tree {
    position: absolute;
    z-index: -1;
    
    top: 200px;
    left: 4em;
    left: 4vw;
    
    min-height: 80%;
}
.tree-top {
    background-color: #e44444;
    width: 160px;
    height: 146px;
}
.tree-middle {
    position: absolute;
    height: 100%;
    width: 16px;
    
    background-color: #e44444;
    left: 75px;
    top: 146px;
    
    .overlay {
        background: url(/img/tree-middle.svg) repeat-y;
        height: 100%;
        width: 16px;
        position: absolute;
        top: 0;
        left: 0;
    }
}