#portfolio-page {
    > section {
        max-width: 1000px;
        margin: 0 auto;
        padding: 7em 0 5em;
    }
    
    #portfolio-back-link {
        position: absolute;
        left: -60px;
        top: 0.8em;
        z-index: 100;
    }
    
    header,
    aside {
        float: left;
        margin-bottom: 3em;
    }
    
    header {
        width: 70%;
        padding-right: 3em;
    }
    
    h2 {
        text-indent: -0.05em;
    }
    
    h3 {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    aside {
        width: 30%;
        margin-top: 1.5em;
        padding: 0.5em 2% 1.4em 3%;
        border-left: 1px solid #ddd;
    }
    
    figure {
        position: relative;
        margin: 0 0 3em;
        clear: both;
        background: #f6f6f6;
        padding: .4em;
        box-shadow: 0 0px 5px #bcbcbc;
    }
    
    figcaption {
        text-align: center;
        padding: 1em 1.5em 1.3em;
        margin-top: 0.6em;
        box-shadow: 0 1px 2px RGBA(0,0,0,0.06);
        
        color: #fff;
        @extend .colored-bg;
        
        a {
            -webkit-animation: none;
            animation: none;
            color: #fff;
        }
        
        strong {
            color: #fff;
            font-weight: 700;
        }
    }
    
    img {
        width: 100%;
        min-height: 100px;
        height: auto;
        display: block;
        clear: both;
        background: url(../img/rainbowlemon-loading.gif) no-repeat 50% 50%;
        
        &.show {
            -webkit-transition: opacity .6s linear;
            transition: opacity .6s linear;
            opacity: 1 !important;
        }
        
        &.turtle-trigger {
            width: 50%;
        }
    }
    
    .swf-container {
        clear: both;
    }
}